.site-title-header {
  background-color: #06addb;
  position: absolute;
  color: #ffffff;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.nav-header {
  float: left;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #59BCD9;
  min-width: 800px;
  text-align: left;
  height: 33px;
  padding: 10px 10px;
}

.nav-class {
  display: table;
  width: 100%;
  max-width: 980px;
  margin: auto;
  min-height: 45px;
  z-index: 5;
  position: relative;
  text-align: center;
}

.nav-header-links {
  text-decoration: none;
  margin: auto;
  padding: 10px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  vertical-align: text-top;
}

.nav-header-links:hover {
  color: #000000;
}

.nav-header-links:visited {
  color: #5A8D8D;
}

.content {
  display: table;
  margin: 0 auto;
  padding-top: 120px;
  width: 50%;
}

body {
  background-color: #0f8bad;
}

dt {
  font-size: 24px;
}

li,
dd {
  font-size: 22px;
}

p {
  font-size: 18px;
}

footer {
  display: table;
  width: 100%;
  height: 100px;
  left: 0;
  bottom: 0;
  text-align: center;
  position: relative;
}

td,
th {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-collapse: collapse;
  outline: 1px solid;
}

table.schedule {
  table-layout: fixed;
  width: 1200px;
}

thead.schedule,
td.time {
  background: #555666;
  color: #ffffff;
  white-space: nowrap;
}

td.schedule {
  background: #0f8bad;
  white-space: nowrap;
}

td.schedule:hover {
  background: #0f8bad;
  color: #ffffff;
}

img {
  width: 25%;
  height: 35%;
}